/* conta.module.css */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    min-width: 600px;
    max-width: 600px;
    margin: 0 auto;
}

.container_entries {
    min-width: 800px;
    max-width: 800px;
}
  
.title {
    text-align: center;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form_entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.full_width {
    grid-column: span 3;
}

.input {
    padding: 10px 0px;    
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.select {
    width: 103%;
}

.input::value {
    padding-left: 10px;
}

.button {
    padding: 10px 15px;
    margin: 0px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.manage_buttons {
    margin-left: auto;
}

.label {
    margin-bottom: 5px;
    display: flex;
    font-weight: bold;
}

.deleteButton {
    background-color: darkred !important;
    color: white;
}

.button:hover {
    background-color: #0056b3;
}

.list {
    list-style-type: none;
    padding: 0;
}

.item {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap between items */
    width: 100%; /* Make the grid container take the full width */
}

.item_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item_container span {
    font-weight: bold;
}
