.card {
    padding: 30px 50px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome {
    font-size: 2rem;
    font-weight: bold;
}